<br/>
<div class="col-md-7 messages">
  <% if @messages.any? %>
    <%= render :partial => 'messages/message', :collection => @messages %>
  <% else %>
    <span>No messages found.</span>
  <% end %>
</div>