<br/>
<div class="messages">
  <%= form_tag("/", method: "GET") do %>
    <b>Current Bundle</b>: 
    <%=select_tag :bundle_id, options_for_select(@bundles, params[:bundle_id]), :onchange => "this.form.submit();" %>
  <% end %>
  <hr/>
  <% if @messages && @messages.any? %>
    <%= render :partial => 'messages/message', :collection => @messages %>
  <% else %>
    <span>No messages found.</span>
  <% end %>
</div>