.message {
  margin: 0 0 10px 0;
  padding: 7px;
  background: #f0f0f0;

  img {
    margin-right: 10px;
  }
}

div.auth {
  display: inline-block;
  margin-top: 10px;
  margin-left: 12px;
}

.container { 
  margin-top: 50px;
}

.badge {
  padding: 5px 10px !important;
  font-size: 14px !important;
  background-color: #2980b9 !important;
}

.nav .active {
  font-weight: bold;
}