@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);

.hidden {
  visibility: none;
}

body {
  margin: 0;
  padding: 0;
}

body, p, th, td, input, h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
}

.flash-success {
  background-color: #27ae60;
  border: 1px solid #2ecc71;
  padding: 10px;
  color: #fff;
}

.flash-error {
  background-color: #c0392b;
  border: 1px solid #e74c3c;
  padding: 10px;
  color: #fff;
}

.message {
  margin: 0 0 15px 0;
  padding: 15px;
  background: #ecf0f1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */

  img {
    margin-right: 10px;
  }
}

.messages {
  padding: 15px;
}

div.auth {
  display: inline-block;
  margin-top: 10px;
  margin-left: 12px;
}

.container { 
  margin-top: 50px;
}

.badge {
  padding: 5px 10px !important;
  font-size: 14px !important;
  background-color: #2980b9 !important;
}


.nav .active {
  font-weight: bold;
}

div.header {
  top: 0px;
  background-color: #000;
  padding: 5px 10px;
}